body {
    margin: 0;
    padding: 0;
}


.carouselImage {
    height: 400px;

}

.carousel-inner {
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #3498db;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}